<div class="container">
    <h2>Angular 2Do project</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus vel aspernatur reiciendis voluptas
        consequatur illo ratione dolore hic repudiandae soluta distinctio deserunt, fugiat, sint temporibus est odio!
        Velit debitis, aliquid deleniti officiis distinctio iure aut consectetur. Quis at veniam aperiam nihil commodi
        obcaecati perferendis, eligendi porro iure earum blanditiis quo nostrum vitae consequatur iste perspiciatis
        facere error? Labore earum omnis quia harum iste, alias dolores sequi culpa ipsum tenetur voluptatem magni porro
        eos beatae vel! Consectetur necessitatibus dolorum quia laboriosam hic asperiores ut eveniet ab cum incidunt.
        Pariatur nemo magnam quisquam incidunt suscipit quo id, maiores eius ipsum iure mollitia sed assumenda
        necessitatibus voluptates eum nulla cumque exercitationem vel quae nobis porro rem inventore. Praesentium
        architecto quasi atque quod explicabo autem, libero optio aut adipisci modi laborum facilis dolorum doloribus
        impedit odit vitae corrupti reiciendis soluta? Alias libero dolorem veritatis quis distinctio repellendus nulla
        a possimus nihil! Nulla velit unde natus corrupti architecto! Repellat eligendi asperiores ex, culpa vero
        consectetur corrupti quod. Consectetur reiciendis vel accusantium, odit doloremque dignissimos, officiis nulla
        adipisci odio molestias dolore repellat saepe nobis vitae aliquid itaque dolores consequatur! Nam, possimus ea,
        voluptatem aliquid consequuntur quo culpa esse suscipit quam dolore mollitia officia fuga doloribus aperiam?</p>
</div>