<li class="row d-flex justify-content-between mt-2">
  <div class="m-0 ">
    <div class="row">
      <span
        class="material-icons"
        (click)='togleTodo()'>
        {{(todo.isDone)? 'check_box' : 'check_box_outline_blank'}}
      </span>
      <h5 
      [class.is-done]='todo.isDone' [appHighlight]>
        {{todo.title}}
      </h5>
    </div>
    <div class="col w-100"
      *ngIf='isShowDetails'>
      <p>
        {{todo.description}}
      </p>
    </div>
  </div>
  <div>
    <button class="btn btn-secondary"
      [disabled]='!todo.description'
      (click)='toggleDetails()'>
      {{(!isShowDetails)?'show':'hide'}} detalis
    </button>
    <button
      class="btn btn-outline-danger"
      (click)="deleteTodo(todo.id)">del
    </button>
  </div>
</li>
<hr>
