<li class="container d-flex justify-content-between">
  <div class="row  m-0 ">
    <div class="todo-body">
      <h5
        [class.is-done]='todo.isDone' [appHighlight]="'green'"><span
          class="material-icons"
          (click)='togleTodo()'>
          {{(todo.isDone)? 'check_box' : 'check_box_outline_blank'}}
        </span>
        {{todo.title}} <span class="badge badge-pill " [ngClass]="bgColorBadges[todo.priority]">
          {{todo.priority}}</span>
      </h5>
      <div class=""
        *ngIf='isShowDetails'>
        <p>
          {{todo.description}}
        </p>
      </div>
    </div>
  </div>
  <div class="todo-footer">
    <button class="btn btn-secondary"
      [disabled]='!todo.description'
      (click)='toggleDetails()'>
      {{(!isShowDetails)?'show':'hide'}} detalis
    </button>
    <button type="button" class="btn btn-warning mx-1"
      (click)="openModalEdit(todo)">Edit</button>
    <button
      class="btn btn-outline-danger"
      (click)="deleteTodo(todo.id)">del
    </button>
  </div>
</li>
<hr>