<li class="row d-flex justify-content-between mt-2">
  <div class="   m-0 ">
    <div class="row">
      <span class="material-icons">
        {{(todo.isDone)? 'check_box' : 'check_box_outline_blank'}}
      </span>
      <h5 [class.is-done]='todo.isDone'>
        {{todo.title}}
      </h5>
    </div>

    <div *ngIf='isShowDetails' class="col w-100">
      <p>
        {{todo.description}}
      </p>

    </div>

  </div>
  <div>
    <button [disabled]='!todo.description' (click)='toggleDetails()' class="btn btn-info">
      {{(!isShowDetails)?'show':'hide'}} detalis</button>
    <button class="btn btn-outline-danger">del</button>
  </div>
</li>
<hr>
