<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4" *ngFor="let item of userList">
        <div class="card h-100">
            <img
                src={{item.picture}}
                class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">{{item.name.first}}</h5>
                <p class="card-text">{{item.description}}</p>
                <a class="btn btn-primary"
                    routerLink={{item.id}}
                    routerLinkActive="router-link-active">More Details</a>
            </div>
        </div>
    </div>
</div>