<div class="row">
    <div class="col card">
        <img
            src="https://randomuser.me/api/portraits/men/1.jpg"
            class="card-img-top"
            alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a class="btn btn-primary"
                [routerLink]="['1']" routerLinkActive="router-link-active">More Details</a>
        </div>
    </div>
    <div class="col card">
        <img
            src="https://randomuser.me/api/portraits/women/20.jpg"
            class="card-img-top"
            alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a class="btn btn-primary"
                routerLink="2" routerLinkActive="router-link-active">More Details</a>
        </div>
    </div>
</div>